{
 	"postgres": {
 		"host": "127.0.0.1:5432",
 		"user": "semaphore",
 		"pass": "supersecurepass",
 		"name": "semaphoredb",
 		"options": {
 			"sslmode": "disable"
 		}
 	},
 	"dialect": "postgres",
 	"port": "8080",
 	"tmp_path": "/tmp/semaphore",
 	"cookie_hash": "Xn7OCDFwMjJHFmKlNzRz4E+9+Gk+Vt7tGGcEZMtTzHo=",
 	"cookie_encryption": "LRjeNBU/rkC/5j6eu+O/vGAljmtXp8wT3wfE4YnDFsE=",
 	"access_key_encryption": "tLcO1lmi0u+hFNGqStU8P2wgRwjZpaj1OGijk76mjVY="
 }
